@import url(./Common.scss);

.aboutSection {
  padding: 4rem;
}

.aboutText {
  a {
    text-decoration: none;
    color: var(--colorPrimary);
    margin-left: 0.3rem;
  }

  h3 {
    font-size: 1.19rem;
    font-weight: 600;
    color: var(--colorSecondary);
  }
}

.personalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;

  p {
    margin: 0 2rem;
    padding: 0.63rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--colorPrimary);
    border-bottom: 1px solid var(--colorPrimary);
    white-space: nowrap;

    span {
      font-weight: 400;
      color: var(--colorSecondaryLight);
    }
  }
}

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &:hover {
    animation: CardContentRotation 5s;
  }
}

@keyframes CardContentRotation {
  0% {
    transform: rotateY(0deg) rotateX(0deg) scale(1.1);
  }
  20% {
    transform: rotateY(30deg) rotateX(20deg);
  }
  40% {
    transform: rotateY(30deg) rotateX(-20deg);
  }
  60% {
    transform: rotateY(-30deg) rotateX(-20deg);
  }
  80% {
    transform: rotateY(-30deg) rotateX(20deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@media (max-width: 480px) {
  .aboutText h3 {
    font-size: 1rem;
  }
  .aboutSection {
    padding: 2rem;
  }
}
