:root {
  --colorPrimary: #b03153;
  --colorSecondary: #302e4d;
  --colorSecondaryLight: #504e70;
}

span {
  color: var(--colorPrimary);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 2;
  font-size: 1.13rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}
