@import url(./Common.scss);

.educationSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.educations {
  margin: 1rem;

  h3 svg {
    padding-right: 0.3rem;
  }
}

.timeline {
  background-color: #fdf9ff;
  padding: 1.88rem 0.94rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.63rem;
}

.timelineOptions {
  color: var(--colorSecondaryLight);
  font-size: 1rem;
}

.timelineDate {
  color: var(--colorSecondaryLight);
  font-weight: 400;
  font-size: 0.88rem;
  margin-bottom: 0.5rem;
}

.timelineTitle {
  font-weight: 700;
  font-size: 1.13rem;
  margin-bottom: 0.94rem;
  text-transform: capitalize;
  color: var(--colorSecondary);
}

.timelineText {
  font-size: 1rem;
  line-height: 1.56rem;
  color: var(--colorSecondaryLight);
  padding-bottom: 3.13rem;
}

.underlineDecorator {
  background-color: var(--colorPrimary);
  height: 1px;
  margin-bottom: 1.25rem;
}
