@import url(./Common.scss);

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2193b0; /* fallback for old browsers */
  background: linear-gradient(to right, #348f50, #56b4d3);
  min-height: 100vh;
  padding-bottom: 5rem;
  animation: gradientBackground 10s ease infinite;
  background-size: 200% 200%;

  img {
    height: 17rem;
    width: 15rem;
    border-radius: 50%;
    border: 2px solid #e5e4e2;
  }

  h1 {
    font-size: 1.88rem;
    color: var(--colorSecondary);
    font-weight: 700;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.38rem;
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 75% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.socialLinks {
  margin-top: 1.56rem;

  a {
    height: 2.19rem;
    width: 2.19rem;
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    margin: 0 0.63rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 3px 0px 18px -3px rgba(0, 0, 0, 0.75);
    background-color: var(--colorPrimary);

    &:hover {
      transform: scale(2.1);
    }
  }
}

@media (max-width: 480px) {
  .homeSection h4 {
    font-size: 0.88rem;
  }
}
